<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mb-3">SWAPI Browser</h1>

      <%= render 'pages/form' %>
      <%= render 'pages/json' %>

    </div>
  </div>
</div>
